<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="fsm_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="fsm_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="fSM.diagram.part.FSMDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/FSMDiagramFile.gif"
         extensions="fsm_diagram"
         default="true"
         class="fSM.diagram.part.FSMDiagramEditor"
         matchingStrategy="fSM.diagram.part.FSMMatchingStrategy"
         contributorClass="fSM.diagram.part.FSMDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="fSM.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/FSMDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="fSM.diagram.part.FSMCreationWizard"
  	     id="fSM.diagram.part.FSMCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="FSM.diagram.InitDiagram"
            nameFilter="*.fsm"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="fSM.diagram.part.FSMInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="FSM.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="FSMPresentation">
         <Priority name="Lowest"/>
         <ViewId id="fSM.diagram.part.FSMDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="FSMPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="fSM.diagram.part.FSMDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="FSMRender">
         <Priority name="Lowest"/>
         <ViewId id="fSM.diagram.part.FSMDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="fSM.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="FSM.diagram.general"
            name="%prefpage.FSM.diagram.general"
            class="fSM.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="FSM.diagram.appearance"
            name="%prefpage.FSM.diagram.appearance"
            category="FSM.diagram.general"
            class="fSM.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="FSM.diagram.connections"
            name="%prefpage.FSM.diagram.connections"
            category="FSM.diagram.general"
            class="fSM.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="FSM.diagram.printing"
            name="%prefpage.FSM.diagram.printing"
            category="FSM.diagram.general"
            class="fSM.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="FSM.diagram.rulersAndGrid"
            name="%prefpage.FSM.diagram.rulersAndGrid"
            category="FSM.diagram.general"
            class="fSM.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="FSM.diagram"
            labelProvider="fSM.diagram.sheet.FSMSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="FSM.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="FSM.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="fSM.diagram.sheet.FSMPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="fSM.diagram.navigator.FSMAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="fSM.diagram.providers.FSMViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="FSM"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="fSM.diagram.providers.FSMEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="FSM"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="fSM.diagram.providers.assistants.FSMModelingAssistantProviderOfFSMEditPart">
         <Priority name="Lowest"/>
         <object class="fSM.diagram.edit.parts.FSMEditPart" id="FSM_1000"/>
         <context elements="FSM_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="fSM.diagram.providers.assistants.FSMModelingAssistantProviderOfStateEditPart">
         <Priority name="Lowest"/>
         <object class="fSM.diagram.edit.parts.StateEditPart" id="State_2001"/>
         <context elements="State_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="fSM.diagram.providers.assistants.FSMModelingAssistantProviderOfEventEditPart">
         <Priority name="Lowest"/>
         <object class="fSM.diagram.edit.parts.EventEditPart" id="Event_2002"/>
         <context elements="Event_2002"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="fSM.diagram.providers.FSMIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="fSM.diagram.providers.FSMParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.example.org/fSM">
         <metamodelType
               id="FSM.diagram.FSM_1000"
               name="%metatype.name.FSM_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FSM"
               edithelper="fSM.diagram.edit.helpers.FSMEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.example.org/fSM">
         <metamodelType
               id="FSM.diagram.State_2001"
               name="%metatype.name.State_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="State"
               edithelper="fSM.diagram.edit.helpers.StateEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.example.org/fSM">
         <metamodelType
               id="FSM.diagram.Event_2002"
               name="%metatype.name.Event_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Event"
               edithelper="fSM.diagram.edit.helpers.EventEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.example.org/fSM">
         <metamodelType
               id="FSM.diagram.Transition_4001"
               name="%metatype.name.Transition_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Transition"
               edithelper="fSM.diagram.edit.helpers.TransitionEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="FSM.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="FSM.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="FSM.diagram.TypeContext">
         <elementType ref="FSM.diagram.FSM_1000"/>
         <elementType ref="FSM.diagram.State_2001"/>
         <elementType ref="FSM.diagram.Event_2002"/>
         <elementType ref="FSM.diagram.Transition_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="FSM.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="FSM.diagram"
           properties="isURIEditorInput"
           class="fSM.diagram.part.FSMUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="FSM.diagram.resourceContent"/>
			<contentExtension pattern="FSM.diagram.domainResourceContent"/>
            <contentExtension pattern="FSM.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="FSM.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="FSM.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="fSM.diagram.navigator.FSMNavigatorContentProvider" 
            labelProvider="fSM.diagram.navigator.FSMNavigatorLabelProvider"
            icon="icons/obj16/FSMDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="fsm_diagram"/>
               </and>
               <instanceof value="fSM.diagram.navigator.FSMAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="fSM.diagram.navigator.FSMAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="FSM.diagram.navigatorSorter" 
               class="fSM.diagram.navigator.FSMNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="fsm_diagram"/>
                  </and>
                  <instanceof value="fSM.diagram.navigator.FSMAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="FSM.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="fSM.diagram.navigator.FSMDomainNavigatorContentProvider" 
            labelProvider="fSM.diagram.navigator.FSMDomainNavigatorLabelProvider"
            icon="icons/obj16/FSMDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="fsm"/>
               </and>
               <instanceof value="fSM.diagram.navigator.FSMDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="fSM.diagram.navigator.FSMDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="FSM.diagram.navigatorActionProvider"
            class="fSM.diagram.navigator.FSMNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="fSM.diagram.navigator.FSMAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="FSM.diagram.navigatorLinkHelper"
            class="fSM.diagram.navigator.FSMNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="FSM.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="fSM.diagram.navigator.FSMAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="fSM.diagram.part.FSMDiagramUpdateCommand"
         description="%update.diagram.description"
         id="fSM.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="fSM.diagram.updateDiagram"
         contextId="fSM.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="FSM.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="fSM.diagram.part.FSMDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="fSM.diagram.edit.parts.FSMEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="fSM.diagram.part.FSMDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="FSM.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="fSM.diagram.part.FSMDiagramEditorID"
         defaultHandler="fSM.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
